html {
    height: 100%;
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow: auto;
    /* Prevents rubber-band scrolling of the whole "page" */
    color: var(--color-subtle);
    background-color: var(--color-bg);
    /* To cover OSes with no default background color */
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

h3 {
    text-align: center;
    padding: 8px 12px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    width: 268px;

}

h2{
    margin: 0;
}
span{
    font-size: large;
}

p{
    align-self: center;
    width: -webkit-fill-available
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: auto;
    height: 104px;
    border-bottom: 1px solid black;


}

.title {
    width: 140px;
    height: 35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    /* Black */

    color: #030102;

}

.campaing-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}



input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    margin: 1em;
    /* width: 214px; */
    /* height: 40px; */

    background: #E2E6EE;
    border-radius: 10px;
    resize: none;
    max-height: 30px;
}


.campaign-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.campaign-input {
    width: 240px;
    height: 20px;
}

.contacts-input{
    width: -webkit-fill-available;
    max-width: 550px;
}

.contacts-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radar-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    color: white;
    width: 500px;
    height: 40px;
    font-size: 20px;
    /* Blue */

    background: #288FB4;
    border-radius: 10px;
}

.radar-button:hover {
    border-color: var(--color-border);
    /* background-color: #2898b4; */
    color: var(--color-strong);
}

.dashboard-info {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    font-weight: 900;
    font-family: sans-serif;
    align-self: center;

}

.dashboard-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.status1 {
    border: solid 3px green;
    border-radius: 8px;
    background-color: green;
}

.status2 {
    border: solid 3px green;
    border-radius: 8px;
    background-color: yellow;
    color: #030102;
}

/* .status0{
    border: solid 3px red;
    border-radius: 8px;
    background-color: red;
} */


.status0 {
    border-radius: 8px;
    -webkit-animation: alert-blink 1s infinite;
    /* Safari 4+ */
    -moz-animation: alert-blink 1s infinite;
    /* Fx 5+ */
    -o-animation: alert-blink 1s infinite;
    /* Opera 12+ */
    animation: alert-blink 1s infinite;
    /* IE 10+, Fx 29+ */
}

@-webkit-keyframes alert-blink {

    0%,
    49% {
        background-color: rgb(253, 253, 253);
        border: 3px solid #e50000;
        color: red;
    }

    50%,
    100% {
        background-color: #e50000;
        border: 3px solid red;
    }
}

.dashboard-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

#last-verification{
    color: black;
}

.js-content-validation{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.validation-input{
    width: 400px;
}